# .dockerignore works different from .gitignore, need to add **/ for it to ignore in any places

# Development only files
**/dev.*

# Git files
**/.git
**/.gitignore

# Docker files
**/Dockerfile*
**/.dockerignore

# Python Virtual Environments
**/.venv
**/venv

# Python Cache & Compiled Files
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

# Build & Distribution Artifacts
**/build
**/dist
**/*.egg-info
**/*.egg
**/wheels
**/*.whl

# Secrets & Environment Configuration
**/*.env
**/.env*
**/secrets

# OS-specific files
**/.DS_Store
**/Thumbs.db

# Logs
**/*.log

# Documents
**/*.md

# IDE & Editor Configuration
**/.idea
**/.vscode
**/*.code-workspace

# Test Artifacts & Reports
**/.pytest_cache
**/.coverage
**/htmlcov
**/nosetests.xml
**/coverage.xml
**/test-reports
